@import url(./foundation.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Stalemate);
h1 {
  color: blue;
  font-family: 'Stalemate', cursive; }

.empty_box {
  height: 350px;
  width: 300px;
  text-align: left; }

input[type="text"] {
  width: 300px; }

.new {
  margin: 20px; }

p {
  font-family: 'Raleway', sans-serif; }

.word p {
  text-align: center;
  display: inline-block;
  border: 1px solid black;
  width: auto;
  padding: 1.5px;
  margin: 3px;
  box-shadow: 2px 2px 5px 2px #000; }