 <header>
  <nav class="top-bar head" data-topbar>
    <ul class="small-block-grid-3">
      <li>
        <a href="/"><h1>Magnetize</h1></a>
      </li>
      <li></li>
      <li>
        <a href="/new" class="magnet">Start New</a>
      </li>
    </ul>
  </nav>
</header>