<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%-include('stylesheets')%>
  </head>
  <body>
  <h1>Magnetize</h1>
  <h3>Instructions</h3>
  <p>Type in your poem. When you want to save ...hit "Magnetize". Don't forget to put your name and give your poem a title. Then you'll be able to share your poem with your friends in magnet form.
  Let's get started, hit "Start New"!
  <form action="/new">
    <button type="submit" class="round button">Start New</button>
  </form>
  </body>
</html>

