<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%-include('stylesheets')%>
</head>
<body>
  <div class="word">
  <% if (poem) { %>
    <h2><%= title %></h2>
    <h3><%= author %></h3>
    <p><%= poem %></p>
  <% }; %>
  </div>
  <div class="tumblr-button">
    <a class="tumblr-share-button" href="https://www.tumblr.com/share"></a>
    <script id="tumblr-js" async src="https://assets.tumblr.com/share-button.js"></script>
  </div>
</body>
</html>