<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%- include('stylesheets') %>
</head>
<%- include('header') %>

<body>
  <form class="" action="/new/add" method="POST">
    <fieldset>
      <label value="Title">
        <input type="text" name="title" placeholder="I, Too">
      </label>
      <label>
        <input type="text" name="author" placeholder="Langston Hughes">
      </label>
    </fieldset>
    <fieldset>
      <textarea class="empty_box" name="poem" placeholder=
        "I, too, sing America.
        I am the darker brother.
        They send me to eat in the kitchen
        When company comes,
        But I laugh,
        And eat well,
        And grow strong.

        Tomorrow,
        I'll be at the table
        When company comes.
        Nobody'll dare
        Say to me,
        'Eat in the kitchen,'
        Then.

        Besides,
        They'll see how beautiful I am
        And be ashamed--

        I, too, am America.">
      </textarea>
      <input type="submit" class="button" value="Magnetize">
    </fieldset>
  </form>
  <form action="/new">
    <input type="submit" class="button new" value="New Poem">
  </form>
</body>
</html>
