<!DOCTYPE html>
<html>
<head>
  <title></title>
  <% include('stylesheets') %>
</head>
<body>
<form action="/magnetize">
  <input class="empty_box" type="text">
  <input type="submit" value="Magnetize">
</form>
<form action="/new">
  <input type="submit" value="New Poem">
</form>
</body>
</html>
