<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%- include('stylesheets') %>
</head>

<body>
  <div class="new">
    <div class="row">
      <div class="small-4 small-centered columns">
        <form action="/new/add" method="POST">
          <label for="title" class="magnet white">Title</label>
            <input type="text" name="title" placeholder="Your Masterpiece">
          <label for="author" class="magnet white">Name</label>
            <input type="text" name="author" placeholder="Your Name">
          <label for="poem" class="magnet white">Text</label>
            <textarea class="empty_box" name="poem" placeholder="Insert your text here"></textarea>
          <div class="row">
            <div class="small-4 small-centered columns">
              <input type="submit" class="magnet button medium" value="Magnetize">
            </div>
          </div>
        </form>
      </div>
      <div class="small-4 columns"></div>
    </div>
  </div>
</body>
</html>
