<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%- include('stylesheets') %>
</head>
<%- include('header') %>

<body>
  <form class="" action="/new/add" method="POST">
    <fieldset>
      <label for="title">Title</label>
        <input type="text" name="title" placeholder="Your Masterpiece">
      <label for="author">Name</label>
        <input type="text" name="author" placeholder="Your Name">
    </fieldset>
    <fieldset>
      <textarea class="empty_box" name="poem" placeholder="Insert your text here"></textarea>
      <input type="submit" class="button" value="Magnetize">
    </fieldset>
  </form>
  <form action="/new">
    <input type="submit" class="button new" value="New">
  </form>
</body>
</html>
