@import "./foundation.min.css";
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Stalemate);

h1 {
  color: blue;
  font-family: 'Stalemate', cursive;
}

.empty_box {
  height: 350px;
  width: 300px;
}

input[type="text"] {
  width: 300px;
}

.new {
  margin: 20px;
}

p {
  font-family: 'Raleway', sans-serif;
}